page-producto {
  img{
    width: 200px;
    height: 200px;
  }
  ion-card.adv-map p {
    font-size: 0.7em !important;
  }
  ion-content.cards-bg {
    background-color: #f4f4f7;
  }
  .item-bold {
    font-weight: bold;
  }
}
