<div class="container-fluid pl-0 pr-0">
  <nav class="navbar navbar-toggleable-md bg-color bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon ">=</span>
    </button>
    <ul class="navbar-nav ml-auto col-8">
      <li class="nav-item dropdown pt-1 pr-3 fuentem ">
        <a class="nav-link ">Nuevo Producto</a>
      </li>
    </ul>
    <div class="collapse navbar-collapse"id="navbarSupportedContent" >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown pt-1 pr-3">
          <a class="nav-link fuentem" [routerLink]="['/admin']">
            <i class="fa fa-sign-out" aria-hidden="true"></i>Log out</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-6">
      <button [routerLink]="['/admin']"
              type="button" class="btn btn-atras"><<
      </button>
    </div>
  </div>

  <br>
  <div class="row">
      <div class="col-md-6" style="margin-left: 40px">
        <form (ngSubmit)="guardarProducto()" #form="ngForm" >

          <div class="form-group row">
            <label  class="col-2 col-form-label">Nombre: </label>
            <div class="col-10">
              <input class="form-control" type="text"
                     placeholder="Nombre"
                     id="tit_pro"
                     name="tit_pro"
                     [(ngModel)]="producto.tit_pro">
            </div>
          </div>

          <div>
            <div class="form-group row">
              <label  class="col-2 col-form-label">Descripción: </label>
              <div class="col-10">
                <input class="form-control" type="text"
                       placeholder="descripcion"
                       name="des_pro"
                       id="des_pro"
                       [(ngModel)]="producto.des_pro">
              </div>
            </div>

            <div class="form-group row">
              <label  class="col-2 col-form-label">Tamaño: </label>
              <!--<div class="col-10">
                <input class="form-control" type="text"
                       placeholder="tamaño"
                       name="tam_pro"
                       id="tam_pro"
                       [(ngModel)]="producto.tam_pro">
              </div>-->
              <div class="col-10">
                <select class=" form-control custom-select mb-2 mr-sm-2 mb-sm-0"
                        name="tam_pro"
                        [(ngModel)]="producto.tam_pro">
                  <option value="P">Pequeño</option>
                  <option value="M">Mediano</option>
                  <option value="G">Grande</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label  class="col-2 col-form-label">Precio: </label>
              <div class="col-10">
                <input class="form-control" type="number"
                       placeholder="precio"
                       name="pre_pro"
                       id="pre_pro"
                       [(ngModel)]="producto.pre_pro">
              </div>
            </div>

              <div class="form-group row">
                <label  class="col-2 col-form-label">Categoría: </label>
                <div class="col-10">
                  <select class=" form-control custom-select mb-2 mr-sm-2 mb-sm-0"
                          name="tipo"
                          [(ngModel)]="producto.categoria">
                    <option *ngFor="let category of categories" [value]="category.id">{{category.des_cat}}
                    </option>

                  </select>
                </div>
              </div>
          </div>

          <div class="row">
            <div class="col-lg-6 form-group">
              <button  type="submit" class="btn btn-guardar">Guardar</button>
            </div>
            <div class="col-lg-6 text-right">
              <button
                type="button" (click)="limpiar()" class="btn btn-limpiar">Limpiar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>
