<div class="contenedor">
  <!-- Navigation -->
  <nav class="navbar navbar-toggleable-md bg-color bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon ">=</span>
    </button>
    <a class="navbar-brand fuentem" href="#">Topicos Especiales</a>
    <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!--<ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link fuentem" href="#download">Download</a>
        </li>
        <li class="nav-item"><nav class="navbar navbar-toggleable-md bg-color bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon ">=</span>
    </button>
    <a class="navbar-brand fuentem" href="#">Topicos Especiales</a>
          <a class="nav-link fuentem" href="#features">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fuentem" href="#team">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fuentem" href="#contact">Contact</a>
        </li>
      </ul>
    </div>-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item pr-3">
          <a class="nav-link fuentem" [routerLink]="['/cajero']">Cajero</a>
        </li>

        <li class="nav-item dropdown pr-3">
          <a class="nav-link fuentem" [routerLink]="['/admin']">Administrador </a>
          <!--<ul class="dropdown-menu">
            <li><a class="dropdown-item fuente-norm " [routerLink]="['/registrousuario']">Usuario</a></li>
            <li><a class="dropdown-item fuente-norm" [routerLink]="['/diario']">Productos</a></li>
            <li><a class="dropdown-item fuente-norm" >Categorias</a></li>
          </ul>-->
        </li>

        <li class="nav-item dropdown mr-5 pr-5  pt-2 ">
          <a class="dropdown-toggle mr-5 fuentem " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Sign in </a>
          <ul class="dropdown-menu dropdown-menu-left">
            <li><form class="form-inline">
              <label class="sr-only" for="inlineFormInput">Email</label>
              <input type="Email" class="form-control mb-2 mr-sm-2 mb-sm-0 ml-2 mb-1" id="inlineFormInput" placeholder="Jane Doe">

              <div class="input-group mb-2 mr-sm-2 mb-sm-0 ml-2">
                <input type="password" class="form-control mt-1" id="inlineFormInputGroup" placeholder="Password">
              </div>
              <button type="submit" class="btn bnt-new ml-2 mt-2">Sign in</button>
            </form></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>


  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-5">Dulsini ! es nuestra nueva app , que te ayudará a realizar pedidos desde cualquier lugar en donde te encuentres</h1>
            <a href="#download" class="btn btn-outline btn-xl">Empieza ahora gratis !</a>
          </div>
        </div>
        <div class="col-lg-5 my-auto">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="../../../assets/img/demo-screen-1.jpg" class="img-fluid" alt="">
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="download bg-primary text-center" id="download">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h2 class="section-heading">Descubre de que se trata</h2>
          <p>Nuestra app esta disponible para cualquier smartphone ! Descargatela ya!</p>
          <div class="badges">
            <a class="badge-link" href="#"><img src="../../../assets/img/google-play-badge.svg" alt=""></a>
            <a class="badge-link" href="#"><img src="../../../assets/img/app-store-badge.svg" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="features" id="features">
    <div class="container">
      <div class="section-heading text-center">
        <h2>Portfolio</h2>
        <p class="text-muted">Mira nuestros productos!</p>
        <hr>
      </div>
      <div class="row ">
        <div class="card-group">
         <div class="col-3" *ngFor="let prod of productos; let i=index">
           <div class="card "  *ngIf="i<4">
               <img class="card-img-top" style="width: 255px; height: 180px;" [src]="prod.img_pro" alt="Card image cap">
               <div class="card-block">
                 <h4 class="card-title">{{prod.tit_pro}}</h4>
                 <p class="card-text">{{prod.des_pro}}</p>
                 <p class="card-text"><small class="text-muted">$ {{prod.pre_pro}}</small></p>
               </div>
           </div>
         </div>
        </div>
      </div>
    </div>
  </section>



  <section class="bg-light" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Nuestro maravilloso equipo!</h2>
          <h3 class="section-subheading text-muted">Ideas innovadoras</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="../../../assets/img/1.jpg" alt="">
            <h4>Mafer Suárez</h4>
            <p class="text-muted">Lead Developer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="../../../assets/img/1.jpg" alt="">
            <h4>Gaby Sangucho</h4>
            <p class="text-muted">Lead Designer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="../../../assets/img/2.jpg" alt="">
            <h4>Angelo Flores</h4>
            <p class="text-muted">Lead Developer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="../../../assets/img/3.jpg" alt="">
            <h4>Tatiana Montenegro</h4>
            <p class="text-muted">Lead Developer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="large text-muted">Proyecto de Tópicos Especiales , Segundo Bimestre, Aplicación Web</p>
        </div>
      </div>
    </div>
  </section>

  <section class="contact bg-primary" id="contact">
    <div class="container">
      <h2>We
        <i class="fa fa-heart"></i>
        new friends!</h2>
      <ul class="list-inline list-social">
        <li class="list-inline-item social-twitter">
          <a href="#">
            <i class="fa fa-twitter" ></i>
          </a>
        </li>
        <li class="list-inline-item social-facebook">
          <a href="#">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item social-google-plus">
          <a href="#">
            <i class="fa fa-google-plus"></i>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; 2017 Tópicos Especiales. All Rights Reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#">Privacy</a>
        </li>
        <li class="list-inline-item">
          <a href="#">Terms</a>
        </li>
        <li class="list-inline-item">
          <a href="#">FAQ</a>
        </li>
      </ul>
    </div>
  </footer>
</div>
