<div class="container-fluid pl-0 pr-0">
  <nav class="navbar navbar-toggleable-md bg-color bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon ">=</span>
    </button>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown col-5">
        <a class="dropdown-toggle  fuentem " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Producto</a>
        <ul class="dropdown-menu ">
          <li>
            <a class="dropdown-item fuente-norm " [routerLink]="['/registroproducto','nuevo']">Nuevo Producto</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown col-5">
        <a class="dropdown-toggle  fuentem " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Usuarios</a>
        <ul class="dropdown-menu ">
          <li>
            <a class="dropdown-item fuente-norm " [routerLink]="['/registrousuario','nuevo']">Nuevo Usuario</a>
          </li>
          <li>
            <a class="dropdown-item fuente-norm " [routerLink]="['/listausers']">Lista Usuario</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown col-5">
        <a class="dropdown-toggle  fuentem " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Categorias</a>
        <ul class="dropdown-menu ">
          <li>
            <a class="dropdown-item fuente-norm " [routerLink]="['/categoria','nuevo']">Nuevo Categoria</a>
          </li>
          <li>
            <a class="dropdown-item fuente-norm " [routerLink]="['/categorias']">Lista Categorias</a>
          </li>
        </ul>
      </li>
    </ul>

    <div class="collapse navbar-collapse"id="navbarSupportedContent" >

      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown pt-2 pr-3">
          <a class="navbar-brand fuentem" href="#">Bienvenido Administrador</a>
        </li>
        <li class="nav-item dropdown pt-1 pr-3">
          <a class="nav-link fuentem" [routerLink]="['/principal']">
            <i class="fa fa-sign-out" aria-hidden="true"></i>Log out</a>
        </li>
      </ul>
    </div>
  </nav>
</div>


<div class="container">

  <form>
    <div class="form-group col-6">
      <label for="exampleSelect1" class="fuente-norm mt-2">Categoria</label>
      <select class="form-control" id="exampleSelect1">
        <option *ngFor="let cat of categories" >{{cat.des_cat}}</option>
      </select>
    </div>
  </form>
  <table class="table table-stripped">
    <thead class="thead-inverse">
    <tr>
      <th>Nro</th>
      <th>Producto</th>
      <th>Descripción</th>
      <th>Tamaño</th>
      <th>Precio</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let prod of products;let i=index">
      <th>{{i+1}}</th>
      <td>{{prod.tit_pro}}</td>
      <td>{{prod.des_pro}}</td>
      <td>{{prod.tam_pro}}</td>
      <td>{{prod.pre_pro}}</td>
      <td>
        <button class="btn btn-default btn-primary" [routerLink]="['/registroproducto', prod.id ]" >
          Editar
        </button>
        <button (click)="eliminarProd(prod.id,i)"  class="btn btn-default btn-danger">
          Eliminar
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

